body {
    margin: 0;
    padding: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #b0b1bb;
}

.container {
    background-color: beige;
    box-shadow: 0 0 25px rgba(7, 199, 242, 0.4);
    border-radius: 10px;
    padding: 25px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 45px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 15px;
}

input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 275px;
}

button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 15px 25px;
    margin-top: 12px;
    cursor: pointer;
    transition: background-color .2s ease;
}

button:hover {
    background-color: #0060cc;
}

#result {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}